<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/day5/static/dist/tailwind.css" />
    <title>Document</title>
  <body>
    <div class="m-4">
      <!-- Heading -->
      <h1 class="text-6xl font-normal leading-normal mt-2 mb-2 text-blue-800 text-center"></h1>
        Mitt skjema ❤️
<!-- Example of text -->
        <input type="text">	
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" >
        <label for="email">email:</label><br>
        <input type="text" id="lname" name="lname">
        <!-- Radio-knapp -->
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
        <select class="mt-2">
          <option>Yes</option>
          <option>No</option>
          <option>Maybe</option>
        </select>


        <!-- Example of buttons -->
        <button type="submit">Send inn skjema</button>
      
    </div>
    <form action=""></form>
  </body>
</html> 