<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/dist/tailwind.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="md:flex bg-white dark:bg-gray-800">
      <div class="md:flex-shrink-0">
        <img
          class="rounded-lg md:w-56"
          src="http://placeimg.com/640/480"
          alt="Woman paying for a purchase"
        />
      </div>
      <div class="mt-4 md:mt-0 md:ml-6">
        <div
          class="uppercase tracking-wide text-sm text-indigo-600 font-bold dark:text-white"
        >
          corporis aspernatur ea
        </div>
        <a
          href="/get-started"
          class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline dark:text-white"
        >
          Vero consequuntur odio quibusdam fuga id.
        </a>
        <p class="mt-2 text-gray-600 dark:text-white">
          Quis commodi minus modi consequuntur inventore nemo explicabo
          voluptas. Officia quo voluptatem esse et eaque praesentium dolorum est
          aut. Eligendi possimus placeat consectetur et harum minima ut
          repudiandae. Explicabo sed sint eveniet fugit repellat.
        </p>
      </div>
    </div>
  </body>
</html>
