<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/day2/static/dist/tailwind.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="m-4">
      <!-- Heading -->
      <h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-pink-800">
        All makt til kalle
      </h1>
      <!-- Subheadings -->
      <h2 class="text-denim-800 mt-1 flex text-center">
        Dette er en subheading
      </h2>
      <h3 class="text-sunset-600 mt-2 text-right font-extralight">
        Dette er min sub andre subheading, den er til høyre
      </h3>
      <!-- Quotes -->
      <blockquote
        class="relative p-4 text-xl italic border-l-4 bg-neutral-100 text-neutral-600 border-neutral-500 quote"
      >
        <div class="stylistic-quote-mark" aria-hidden="true">&ldquo;</div>
        <p class="mb-4">
          Dette er et fantastisk sitat! Maiores molestias iusto provident enim
          ut.
        </p>
        <cite class="flex items-center">
          <img
            src="http://placeimg.com/640/480"
            alt="Elias Avatar"
            class="w-12 rounded-full"
          />
          <div class="flex flex-col items-start">
            <span class="mb-1 text-sm italic font-bold"> Elias </span>
            <a class="text-sm" href="https://aubrey.net">Elias Nitzsche</a>
          </div>
        </cite>
      </blockquote>
      <p class="italic mt-5">
        Dette er en deilig tekst som bare er standard, men i italic
      </p>
      <p class="mt-1">
        Her er en vanlig setning
        <span class="italic">men her en span hvor det er italic</span>
      </p>
    </div>
  </body>
</html>
